@import "settings/colors";
@import "settings/fonts";
@import "settings/mixins";



    .navigation {
        width: 60%;
        height: 100px;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-end;
        position: absolute;   

        .login{
            margin-right: 100px;
            margin-block: 46px 30px;
            ul li a{
                font-size: 14px;
                color: $color-grey;
                text-decoration: none;
            }
        }
        ul{
            display: flex;
            flex-direction: row;
            gap: 30px;   
        }
        .menu {
            margin-right: 100px;

            ul li a{
            font-size: 18px;
            color: $color-dark-grey;
            text-decoration: none;
        }}
    }